Repository christosgalano/bicep-template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, bicep lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Yaml lint
        entry: yamllint
        language: system
        args:
          - "--format"
          - "colored"
        files: '\.yaml$|\.yml$|\.yamllint$'
      - id: bicep lint
        name: Bicep lint
        entry: bicep lint
        language: system
        files: '\.bicep$'

Reset
  bicepconfig.json
Due: none

Update content
  .github/CODEOWNERS
  .github/scripts/generate_bicep_docs.ps1
  .gitignore
  .pre-commit-config.yaml
  bicep/abbreviations.json
  bicepconfig.json
Due: check-yaml

Update content
  .psrule/Org.Rule.yaml
  bicep/environments/development/main.bicep
  bicep/environments/development/main.bicepparam
  bicep/environments/production/main.bicep
  bicep/environments/production/main.bicepparam
  bicep/modules/sample/main.bicep
  ps-rule.yaml
Due: check-yaml, bicep lint

Update content
  .ps-rule/.keep
  .ps-rule/Org.Rule.yaml
  .psrule/Org.Rule.yaml
  bicep/environments/development/README.md
  bicep/environments/production/README.md
  bicep/modules/sample/README.md
  ps-rule.yaml
Due: check-yaml

remove .keep
  .ps-rule/.keep
Due: none

Update resource abbreviations
  bicep/abbreviations.json
Due: none

Update content
  .github/scripts/generate_bicep_docs.ps1
  .github/workflows/ci.yaml
  .github/workflows/update_abbreviations.yaml
  CONTRIBUTING.MD
  README.MD
Due: check-yaml

Update content
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/destroy.yaml
  .github/workflows/update_abbreviations.yaml
  .ps-rule/Org.Rule.yaml
  bicep/abbreviations.json
Due: check-yaml

Update content
  .github/workflows/ci.yaml
Due: check-yaml

Update content
  .github/scripts/update_resource_abbreviations.py
  .github/workflows/ci.yaml
  .github/workflows/update_abbreviations.yaml
  bicep/abbreviations.json
Due: check-yaml

Update content
  .github/workflows/ci.yaml
  .github/workflows/update_abbreviations.yaml
Due: check-yaml

Update content
  bicep/abbreviations.json
Due: none

Remove workflow_call trigger
  .github/workflows/ci.yaml
Due: check-yaml

Update content
  .github/workflows/update_abbreviations.yaml
Due: check-yaml

Remove READMEs
  bicep/environments/development/README.md
  bicep/environments/production/README.md
  bicep/modules/sample/README.md
Due: none

Update documentation
  bicep/environments/development/README.md
  bicep/environments/production/README.md
  bicep/modules/sample/README.md
Due: none

Trigger only with PR on main
  .github/workflows/ci.yaml
Due: check-yaml

Update content
  .github/scripts/requirements.txt
  .gitignore
Due: none

Update content
  .gitignore
Due: none

Update actions versions
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/destroy.yaml
Due: check-yaml

Install latest version of bicep-docs
  .github/workflows/ci.yaml
Due: check-yaml

style: update markdown linting rules for consistent formatting and readability
  .markdownlint.yaml
Due: check-yaml

chore: remove unused markdown linting rules configuration
  .markdownlint.json
Due: none

Update documentation
  bicep/environments/development/README.md
  bicep/environments/production/README.md
Due: none

Update content
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/generate-bicep-docs.yaml
Due: check-yaml

Update content
  .github/workflows/generate-bicep-docs.yaml
Due: check-yaml

ci: Refactor workflow trigger conditions
  .github/workflows/ci.yaml
Due: check-yaml

ci: Enable writing pull requests and set comment_mode to always for psrule scan checks.
  .github/workflows/ci.yaml
Due: check-yaml

feat: Add two solutions for deploying resources based on environment differences, using modules or stacks.
  .github/workflows/ci.yaml
  bicep/environments/development/main.bicep
  bicep/stacks/sample/main.bicep
Due: check-yaml, bicep lint

Update documentation
  bicep/environments/development/README.md
  bicep/stacks/sample/README.md
Due: none

build: Update CI configuration to only trigger on push to 'main' branch and include new sample_stack deployment for both development and production environments.
  .github/workflows/ci.yaml
  bicep/environments/development/README.md
  bicep/stacks/sample/README.md
Due: check-yaml

Update documentation
  bicep/environments/development/README.md
  bicep/environments/production/README.md
  bicep/stacks/sample/README.md
Due: none

Update documentation
  bicep/environments/development/README.md
  bicep/environments/production/README.md
  bicep/modules/sample/README.md
  bicep/stacks/sample/README.md
Due: none

Update content
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/destroy.yaml
  .github/workflows/generate-bicep-docs.yaml
  .github/workflows/update-resource-abbreviations.yaml
  bicep/environments/development/main.bicep
  bicep/environments/production/main.bicep
  bicep/stacks/sample/main.bicep
Due: check-yaml, bicep lint
